@import "tailwindcss";

body {
  overscroll-behavior-y: auto;
  overscroll-behavior-x: auto;
  overflow-y: hidden;
  @apply h-screen;
}

.word {
  position: relative;
  white-space: nowrap;
  color: var(--inactive-color, #ccc);
  text-shadow: 0 0 3px rgba(0, 0, 0, 1);
}

.word::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  white-space: nowrap;
  width: var(--progress, 0%);
  color: var(--active-color, red);
  text-shadow: 0 0 3px rgba(255, 255, 255, 1);
  pointer-events: none;
}